/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;500;800&display=swap');
/* Google Font Imports */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(45deg, #393939, #3b3b3b);
}

.container {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px 0px;
    background-color: #292929;
}

.heading {
    margin: 10px 0px 10px 0px;
    font-family: "Archivo";
    font-weight: 800;
    color: #E69C0B;
    font-size: 30px;
    margin-bottom: 10px;
}

.sub-heading {
    font-family: "Archivo";
    font-weight: 300;
    color: #E69C0B;
    margin-bottom: 15px;
}